.component {
  background-color: #f3f2f1;
  border-radius: 10px;
  min-width: 280px;
  padding: 30px 15px 15px;
  transition: transform 0.3s;
}

.component:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9d9d9d;
  width: max-content;
  height: 205px;
  margin: 0 auto 30px;
}

.image {
  object-fit: contain;
  height: 205px;
  width: auto;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
}

.imageWrapper p {
  padding: 0 20px;
}

.category {
  font-weight: 400;
  text-decoration: underline;
  color: #9d9d9d;

  margin-bottom: 15px;
}

.title {
  font-weight: 700;
  margin-bottom: 15px;
}

.authors {
  font-weight: 400;
  color: #9d9d9d;
}

.imageWrapper + .title {
  margin-top: 66px;
}
