.component {
  text-align: center;
  padding-top: 20px;
}

.totalItems {
  font-weight: 600;
  margin-bottom: 20px;
}
.container {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}
