.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;

  background-image: url("../../images/im.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4d4d4d;
}

.label {
  font-size: 9vw;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 2px black;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-top: 20px;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .label {
    font-size: 72px;
  }
}

@media screen and (max-width: 400px) {
  .label {
    font-size: 36px;
  }
}
